#second{
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 200px;
    gap: 20px;
}

.card{
    height: 400px;
    width: 300px;
    /* border: 2px solid black; */
}

footer{
    height: 100px;
    width: 100%;
    /* border: 2px solid palevioletred; */
    position: relative;
    bottom: -663px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{

}
